@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

body {
  font-family: "Open Sans";
  max-width: 800px;
  background: rgba(0, 0, 0, 0.7);

  margin: 0 auto;
  padding: 30px 50px;
}

$main-size: 36px;
$comment-size: 24px;

.timer, .title, .raised {
  font-size: $main-size;
  text-align: center;
  color: yellow;
  margin-bottom: 20px;
}

.donation {
  margin-bottom: 20px;

  .donation-main {
    display: flex;

    .donation-name {
      flex: 1;
    }

    .donation-amount {
      flex: 1;
      text-align: right;
    }
  }
  .donation-name, .donation-amount {
    font-size: $main-size;
  }

  .donation-name {
    color: white;
  }

  .donation-amount {
    color: skyblue;
  }

  .donation-comment {
    color: #ccc;
    font-size: $comment-size;
  }
}